div#cabessalho{
	background-color: #044377;
  }

  #idvisual{
	color:  rgb(255, 255, 255);
	margin: auto;

  }
  
  #logoCabessalho{
	
	margin: 2px;
	max-width: 85px; max-height: 73px;

  }
  #sidebar{
	background-color: #044377;
	

  }
  #sidebarCollapse{
   
	color: aliceblue;
	
  }
  #table{
	background-color: #05532f;
	color: aliceblue;
	
  }
  #contenTable{
	padding-top: 20px;
	margin: auto;
  }
 


  #corp{
	
	color: rgb(19, 219, 52);
  }
  
 


